################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LvlUpCs/.vs/LvlUpCs/FileContentIndex
/LvlUpCs/bin/Debug/net8.0
/LvlUpCs/obj
/LvlUpCs/obj
/LvlUpCs/.vs
/lvlfrontend/node_modules
/lvlfrontend/node_modules
/lvlfrontend/node_modules/.cache
/LvlUpCs/obj/Debug/net8.0
LvlUpCs/obj/Debug/net8.0/LvlUpCs.AssemblyInfo.cs
LvlUpCs/obj/Debug/net8.0/LvlUpCs.AssemblyInfoInputs.cache
LvlUpCs/obj/Debug/net8.0/LvlUpCs.assets.cache
LvlUpCs/obj/Debug/net8.0/LvlUpCs.GeneratedMSBuildEditorConfig.editorconfig
