################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LvlUpCs/.vs/LvlUpCs/FileContentIndex
/LvlUpCs/bin/Debug/net8.0
/LvlUpCs/obj
/LvlUpCs/obj
/LvlUpCs/.vs
